<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Xacomigo - Agendamento</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  
  <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">
  
  <script data-ad-client="ca-pub-4337055906490098" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/index">Xacomigo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Agendamentos</h1>
         
          <p class="lead mb-5 text-white-50">Escolha o agendamento que você precisa:</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        
        <hr>
        <div class="container">
        <div class="col-md-8 mb-5">
        <div>
        <a href="/formagendamento"><button type="button" style="box-shadow: 0px 2px 4px #007bff;"  class="btn btn-primary btn-lg btn-block"> Formulário Agendamento </button></a>
         </div>
         </div>
    </div>
    
        <br>
        <br>
        <p>Olá, vi que você precisa de um agendamento, sabemos o quão estressante e difícil está sendo conseguir fazer algo
            por conta da alterações adotadas para contenção no novo COVID-19, por isso estamos aqui para te ajudar!
            Vou te explicar rapidamente como é nosso método de serviço e você verá que é muito fácil e prático! <br>
            1º Acesse o formulário e escolha o agendamento que precisa, não se preocupe, se precisar de mais de um pode marcar mais; <br>
            2º preencha o formulário; <br>
            3º escolha a forma de pagamento do serviço. Estamos com uma super promoção com mais de 20% de 
            desconto, você paga apenas R$15,00 e pode escolher todos os agendamentos que precisar; <br>
               4º após confirmação do pagamento em nosso sistema, nossa equipe irá enviar para você 
               o serviço solicitado em até 24 horas; <br>
            Vale lembrar que datas e horário de agendamentos podem sofrer alterações para se adequarem para a contenção do novo COVID-19, deixando algumas instuições com um menor número de servidores.
          </p>
      </div>
      
    </div>
    <!-- /.row -->
     <div class="container">
        <div class="col-md-8 mb-5">
            <div>
                <a href="/formagendamento"><button type="button" style="box-shadow: 0px 2px 4px #007bff;"  class="btn btn-primary btn-lg btn-block"> Formulário Agendamento </button></a>
            </div>
         </div>
    </div>

        <br>
        <br>
        <br>

          <div class="footer" style="text-align-last: center;">
            <a href="/index" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Voltar para Principal</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

 
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright 2020. Todos Direitos Reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>