<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>XACOMIGO | Principal</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  <!--Link para alterar estilo do <EM> no texto de atenção no final-->
  <link rel="stylesheet" type="text/css" href="css/estilo.css">

  <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">
  
  <script data-ad-client="ca-pub-4337055906490098" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index">XACOMIGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about">Sobre</a>
          </li>
          <!-- <li class="nav-item active"> SERVIÇOS INABILITADO
            <a class="nav-link" href="services">Serviços</a>
          </li>-->
          <li class="nav-item active">
            <a class="nav-link" href="contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Facilitamos sua vida</h1>
          <p class="lead mb-5 text-white-50">Equipe preparada para te ajudar na emissão de Certidão, Agendamentos e serviços para MEI.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>O que fazemos?</h2>
        <hr>
        <p>Os efeitos do Covid-19 foram enormes e um desses efeitos
          é obrigar a maioria das pessoas a se adequarem ao meio digital e para ajudar você que tem dificuldade ou falta
          de tempo é que estamos aqui.</p>
        <p>Escolha o serviço que precisa, preencha o formulário específico, escolha a forma de pagamento e aguarde nossa
          equipe entrar em contato com você via E-mail, Whatsapp ou Ligação.</p>

      </div>
      <a href="https://www.umbler.com/br/seja-bem-vindo?a=j37lqmxk">
        <img src="https://www.umbler.com/assets/brand/umbler-badges/umbler-badge-hostedby-light-bg.png" width="100"
          alt="Badge Hosted by Umbler" />
      </a>
      <!-- "FALE CONOSCO INABILITADO"
        <div class="col-md-4 mb-5"> 
        <h2>Fale conosco</h2>
        <hr>
        <address> 
          <strong>Xá Comigo</strong>
          <br>exemplo
          <br>Campo Grande, MS
          <br>
        </address>
        <address>
          <abbr title="Phone">Telefone:</abbr>
          (67) 9999-0000
          <br>
          <abbr title="Email">E-mail:</abbr>
          <a href="mailto:#">contato@xacomigo.net.br</a>
        </address>
      </div>
    </div>-->
      <!-- /.row -->

      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100; shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top" src="./IMG/agendamento1.jpg" alt="agendamento">
            <div class="card-body">
              <h4 class="card-title">Agendamentos</h4>
              <p class="card-text">Não perca mais tempo, escolha o agendamento que precisa. </p>
            </div>
            <div class="footer">
              <a href="/agendamento" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Serviços de agendamento</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100; shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top" src="./IMG/certidoes.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Certidões</h4>
              <p class="card-text">Antecedente criminal, certidão da justiça... É só escolher o que precisa que nós tem enviamos.
              </p>
            </div>
            <div class="footer">
              <a href="/certidao" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Serviços de certidão</a>
            </div>
          </div>
        </div>

        <!--MEI-->
        <div class="col-md-4 mb-5">
          <div class="card h-100; shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top" src="./IMG/PicMei.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">MEI</h4>
              <p class="card-text">Fazemos Abertura de MEI,Baixa de CNPJ e muito mais.
              </p>
            </div>
            <div class="footer">
              <a href="mei" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Serviços de MEI</a>
            </div>
          </div>
        </div>

        <div class="container" style="text-align-last: center; font-size: x-small;">
        <p > 
          OBSERVAÇÕES IMPORTANTES!
          <br>
          - O serviço prestado por nossa empresa hospedada no site <a href="https://www.xacomigo.net.br"> xacomigo.net.br</a> é um serviço opcional.<br>
          - Oferecemos de forma privativa e segura uma prestação de serviços, que te ajuda a ganhar tempo fazendo o cadastro em Orgãos e agências por você.<br>
          - Os dados pessoais de nossos clientes são usados única e exclusivamente para o serviço solicitado sendo descartados em até 30 dias após o uso ou imediatamente após o uso se for da vontade do cliente. <br>
          - Os agendamentos ,emissão de certidões e serviço para MEI podem ser feitos gratuitamente através dos órgãos públicos do Governo federal. Caso não consiga, ou não tenha tempo, conte com a gente. 
          <footer class="blockquote-footer">Equipe <cite title="Título da fonte">XACOMIGO</cite></footer>
        
        </p>
      </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!--API Whatsapp-->
  <script type="text/javascript">
    (function () {
      var options = {
        whatsapp: "+55(67)981572635", // Número do WhatsApp
        call_to_action: "Fale Conosco!",
        position: "right", // Posição do botão
      };
      var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  </script>
  <!--End API Whatsapp-->

  <!-- Footer -->
  <footer class="py-1 bg-dark">
    <div class="container">
      <h5>
        <p class="m-0 text-center text-white">Formas de pagamento</p>
      </h5><br>

      <!--Imagens das Bandeiras de Pagamento-->
      <div class="container">
        <div class="row" >
          <div class="col bandeiraCentro">           
            <img src="/IMG/bandeira cartao e boleto/cartoes01.png" class="img-fluid" alt="Boleto">
          </div>
        </div>
      </div>
      
      <!--End Imagens das Bandeiras de Pagamento-->  
     <p class="m-0 text-center text-white"> <a href="/politica_de_privacidade">Política de privacidade          -</a>
      <a href="/termos_de_uso">Termos de Uso</a> </p>
      <br>
      <p class="m-0 text-center text-white">Copyright 2020. Todos Direitos Reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>