<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>XACOMIGO | Mei</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  
  <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">
  
  <script data-ad-client="ca-pub-4337055906490098" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/index">XACOMIGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
          <!--<li class="nav-item active"> INABILITADO
             <a class="nav-link" href="/services">Serviços</a> 
          </li>-->
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Micro Empreendedor Individual</h1>
          <p>Olá, vi que você precisa de um atendimento específico para MEI, sabemos bem o quanto pode ser difícil
            realizar a Abertura de MEI, por isso para te ajudar <strong>cobramos o menor valor do mercado</strong> se comparado com outras empresas da área.
          </p>
          <p class="lead mb-5 text-white-50">Abaixo você pode ir direto para nosso formulário com a lista de serviços ou tirar suas dúvidas.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      
    <div class="col-md-8 mb-5">
        <div>
        <a href="/formmei"><button type="button" style="box-shadow: 0px 2px 4px #007bff;"  class="btn btn-primary btn-lg btn-block"> Formulário MEI </button></a>
         </div>
    </div>
        
        <br>
       
      
      
      <!-- Início perguntas e respostas MEI-->
      <div class="container" >
        <div class="row">
          <div class="col-md-8 mb-5">
            <h2>Dúvidas Frequentes</h2>
             <div class="accordion" id="accordionExample">
             <div class="card">
             <div class="card-header" id="headingOne">
             <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                O que é o MEI- Microempreendedor Individual?
              </button>
            </h5>
            </div>
      
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>Em 2008 surge o MEI e a possibilidade de registro do CNPJ MEI através da Lei n°128, que visa formalizar o pequeno empresário individual. Se encaixa nessa categoria, os trabalhadores que:</p>
                    <p>1.1- Possuem faturamento de até R$ 81.000,00 por ano;</p>
                    <p>1.2- Não são sócios ou titulares de outra empresa;</p>
                    <p>1.3- Tenham no máximo um empregado;</p>
                    <p>1.4- Exercem uma das atividades permitidas ao MEI, segundo a Resolução CGSN nº 140, de 2018.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Quanto se pode faturar com um CNPJ MEI?
              </button>
            </h5>
          </div>
      
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p>O faturamento do MEI, de janeiro a dezembro, deve ser de até no máximo R$ 81.000,00. Dessa forma, caso o Microempreendedor Individual se formalize durante o ano em curso, o seu faturamento deve ser proporcional a R$ 6.750,00 por mês, até 31 de dezembro do mesmo ano.</p>

            </div>
          </div>
        </div><div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Quem possui um CNPJ MEI se aposenta pelo INSS?
              </button>
            </h5>
          </div>
      
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim. Ao se formalizar e manter suas contribuições em dia, o MEI poderá usufruir da aposentadoria por idade de acordo com a carência onde o tempo mínimo de contribuição é de 180 meses a contar do primeiro pagamento em dia, mulheres aos 60 anos e homens aos 65 possuem direito à aposentadoria por idade.</p>

            </div>
          </div>
        </div><div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Quais os outros benefícios do INSS que quem tem um CNPJ MEI possui?
              </button>
            </h5>
          </div>
      
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p><span>Para o MEI:</span></p>
              <p>- Auxílio doença e Aposentadoria por invalidez: Neste caso é necessário 12 meses de contribuição, a contar do primeiro pagamento em dia;</p>
              <p>- Salário-maternidade: neste caso é necessário 10 meses de contribuição, a contar do primeiro pagamento em dia;</p>
              <p><span>Para seus dependentes:</span></p>
              <p>- Pensão por morte e auxílio reclusão: Esses benefícios possuem duração variável, de acordo com a idade e o tipo de beneficiário;</p>

            </div>
          </div>
        </div><div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Quem tem “Carteira Assinada” pode ser MEI?
              </button>
            </h5>
          </div>
      
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim. O empregado de uma empresa privada pode se tornar MEI e possuir um CNPJ.</p>
            </div>
          </div>
        </div><div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                O MEI pode receber Seguro-Desemprego?
              </button>
            </h5>
          </div>
      
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim, desde que não tenha renda mensal igual ou superior a 1 salário mínimo no período de pagamento do benefício.</p>

            </div>
          </div>
        </div><div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Quem tem um CNPJ MEI pode abrir uma conta jurídica?
              </button>
            </h5>
          </div>
      
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim. Dessa forma, quem possui CNPJ MEI pode abrir conta jurídica em praticamente todos os bancos do país e desfrutar dos mais diversos benefícios, como crédito facilitado com <strong>juros mais baixos</strong>.</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                O MEI pode contratar funcionário?
              </button>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim. O MEI pode contratar até <strong>um</strong> empregado, desde que a pessoa contratada não seja seu cônjuge, seguindo todas as normas da CLT, pagando um salário mínimo ou o piso salarial da categoria.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingNine">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                O MEI pode emitir nota fiscal?
              </button>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
            <div class="card-body">
              <p>Sim. Quem possui um CNPJ MEI pode emitir notas fiscais (NFe) de produto ou serviço, de acordo com sua atividade.</p>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingTen">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Quem não pode ser MEI?
              </button>
            </h5>
          </div>
      
          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
            <div class="card-body">
              <p>- Servidores públicos federais em atividade;</p>
              <p>- Servidores público estaduais e municipais devem verificar os critérios da legislação de sua cidade e estado;</p>
              <p>- Pensionista do RGPS/INSS inválido. Ao se registrar como <strong>MEI</strong>, o pensionista inválido é considerado recuperado e apto para o trabalho, sendo assim, deixará de receber a pensão por morte;</p>
              <p>- Pessoas titulares, sócias ou administradoras de outra empresa, que possuem mais de um estabelecimento, e se sócio de sociedade empresária de natureza contratual ou administrador de sociedade empresária, sócio ou administrador em sociedade simples.</p>
            
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingEleven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Quanto custa para ter um CPNJ MEI?
              </button>
            </h5>
          </div>
      
          <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
            <div class="card-body">
              <p>Nós cobramos a <strong>menor tarifa</strong> se comparado com outras empresas da área, tarifa única de R$150,00 para o registro do CNPJ MEI. Além disso, o MEI deve pagar mensalmente para o <strong>Governo</strong> os tributos de R$ 49,90 (INSS), acrescido de R$ 5,00 (para Prestadores de Serviço) ou R$ 1,00 (para Comércio e Indústria) por meio do DAS (boleto) que enviaremos via e-mail.</p>
              <p>Para os demais serviços oferecidos para MEI cobramos tarifa única de R$15,00. São Eles:</p>
              <p>- CERTIFICADO DO MEI</p>
              <p>- BOLETOS DO ANO INTEIRO</p>
              <p>- DECLARAÇÃO ANUAL DO MEI</p>
              <p>- BAIXA DA INSCRIÇÃO CNPJ</p>
            </div>
          </div>
        </div>
        
        


          </div>
        </div>
      </div>
      <!-- FIM perguntas e respostas MEI-->
      <div class="col-md-8 mb-5">
      <div>
        <a href="/formmei"><button type="button" style="box-shadow: 0px 2px 4px #007bff;"  class="btn btn-primary btn-lg btn-block"> Formulário MEI </button></a>
      </div>
      </div>
      
    </div>
    <!-- /.row -->

        <br>
        <br>
        <br>

          <div class="footer" style="text-align-last: center">
            <a href="/index" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Voltar para Príncipal</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright 2020. Todos Direitos Reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>