<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>XACOMIGO | Política de Privacidade</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  
  <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/index">XACOMIGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
          <!-- <li class="nav-item active"> 
            <a class="nav-link" href="/services">Serviços</a>
          </li>-->
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2 text-center">Política de Privacidade</h1>
          <hr><br>
          <div class="text-justify corTexto">
            Em seu primeiro acesso ao XACOMIGO.NET.BR, o Usuário deverá ler atenta e integralmente a presente
    Política e, se estiver de acordo com o seu conteúdo, após preenchimento deverá marcar que leu e concorda com
    a subsequente seleção da opção “Aceito a Política”, manifestando seu consentimento livre,
    expresso e informado, concordando e permitindo o acesso a seus dados por meio do
    site. Se o Usuário não concordar com o inteiro teor desta Política, deverá se abster de
    utilizar o site.
           1. O XACOMIGO entende como confidenciais os dados coletados por meio desse site,
    assegurando que estes serão tratados e armazenados nos termos desta Política, mediante adoção
    das medidas de segurança cabíveis. Assim, as informações coletadas serão utilizadas para a
    execução da finalidade do serviço escolhido no objetivo de melhor atender o Usuário.
        1.1 Ao aceitar esta Política de Privacidade, o Usuário consente de forma livre, expressa e
    informada que o XACOMIGO, poderá utilizar os dados coletados por meio da Plataforma para o 
    desenvolvimento de campanhas promocionais, oferta de produtos e de parceiros e marketing
    direcionado.
        1.2 Ainda, o Usuário concorda em receber e-mails promocionais do XACOMIGO e dos PARCEIROS, bem 
    como comunicações acerca de produtos e serviços prestados por meio de mensagens de texto, E-mail
     ou WhatsApp e ligações caso necessário, sendo o único responsável por ler atenta e
    integralmente a Política de Privacidade implementada por este. Contudo, caso o Usuário opte
    por interromper o recebimento de tais comunicações, poderá comunicar a decisão pelo e-mail
    contato@xacomigo.net.br.
       1.3 Por meio do site poderão ser apresentados links que conduzam o Usuário a outras
    páginas eletrônicas, inclusive disponibilizadas por terceiros, as quais podem apresentar Política
    de Privacidade próprias e específicas, com previsões diversas do disposto neste documento. O
    XACOMIGO se exime de qualquer responsabilidade decorrente da coleta, utilização, compartilhamento
    e armazenamento de dados dos Usuários pelos responsáveis por tais páginas.
        2. Todas as informações e dados pessoais, fornecidos pelo Usuário são armazenados em servidores de alta
    segurança próprios ou de terceiros contratados pelo XACOMIGO, localizados no Brasil ou no exterior. E logo
    após o uso das informações para a(s) prestação(ões) de serviço solicitada(s), as informações e dados pessoais 
    serão mantidas por 30 dias em nossos servidores(tempo em que o Usuário pode pedir um novo serviço de agendamento ou certidão para o cpf
    dele sem mais ônus), tendo sua total exclusão ao término do período.
        2.1 O XACOMIGO emprega os melhores esforços e tecnologia a fim de resguardar a segurança dos
    dados e das informações dos Usuários em sua Plataforma. No entanto, em razão da própria
    natureza da internet, nenhum método de transmissão ou retenção de dados eletrônicos é
    plenamente seguro e pode estar sujeito a ataques externos por terceiros não autorizados
    (hackers) que eventualmente podem acessar indevida e ilicitamente as informações dos
    Usuários armazenadas pelo XACOMIGO, razão pela qual não será responsável por eventual
    prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que
    utilizem de meios indevidos, fraudulentos ou ilegais para violar a segurança do
    site e acessar as informações dos Usuários.
       2.2 Os Usuários afirmam que as informações prestadas no site, quando referirem-se à si mesmos ou
    terceiros, foram realizadas com a concordância deste terceiro, sendo plenamente responsáveis
    pela veracidade das informações e pela obtenção das aludidas autorizações de
    compartilhamento de dados.
       2.3 O XACOMIGO prestará todas as informações requisitadas por órgãos públicos, desde que
    devidamente justificadas e compatíveis com a lei em vigor.
      2.4 O XACOMIGO utiliza cookies e softwares de monitoramento de seus Usuários para promoverlhes a melhor 
       experiência de navegação possível baseado em suas necessidades e para pesquisas
    internas. Esses cookies não coletam informações pessoais, apenas informam preferências de
    uso e de navegação de cada Usuário, além de prover o XACOMIGO de estatísticas e dados para
    aprimoramento de suas funcionalidades.
       3. Os termos e conteúdo da presente Política estão sujeitos a constante melhoria e
    aprimoramento. Portanto, o XACOMIGO se reserva o direito de, a seu exclusivo critério, modifica-los
    a qualquer momento, de forma unilateral e sem comunicação prévia.
       3.1 Havendo alteração da Política, os novos termos e condições estarão disponíveis no
    site e, ao navegar e utilizar suas funcionalidades, o Usuário aceita de forma tácita
    guiar-se pela Política que estiver vigente na data de utilização do site. Portanto, cabe ao
    Usuário verificar as alterações da Política cada vez que acessar o site.
       4. Fica eleito o Foro da Comarca de Campo Grande - MS para dirimir quaisquer dúvidas,
    questões ou litígios decorrentes da presente Política, com renúncia a qualquer outro por mais 
    privilegiado que seja.
    
    Atualizado em 15/08/2020
        </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright 2020. Todos Direitos Reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>





    </div>
</body>
</html>