<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>XACOMIGO | Termos de Uso</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  
  <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/index">XACOMIGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
          <!-- <li class="nav-item active"> 
            <a class="nav-link" href="/services">Serviços</a>
          </li>-->
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2 text-center">Termos de Uso</h1>
          <hr><br>
          <div class="text-justify corTexto">
            O presente Termo está sujeito a contínuo aprimoramento, podendo ser modificados a qualquer
tempo. Assim, é recomendável que o Usuário acesse-o periodicamente e certifique-se de que
verificou sua versão mais atualizada, com base na data indicada ao final do documento.
Alguns dos serviços e conteúdos disponíveis no XACOMIGO, poderão eventualmente ser objeto de
termo de uso, contrato, licenciamento e regulamento próprio e específico. Assim sendo, no caso
de conflito entre tais instrumentos e este Termo, deverão prevalecer os termos e as condições
próprias e específicas.
        O XACOMIGO é um site eletrônico criado com o objetivo de Oferer soluções nos mais váriados 
        serviços online. Pessoas com dificuldade para se adequarem ao meio digital podem fazer Uso
        de nossos serviços profissionais.
        1.Ao escolher o serviço, preencher o formulário com seus dados pessoais e enviar 
        o USUÁRIO está declarando ter lido e aceito, sem reservas, todas as cláusulas e condições do
          presente Contrato e Política.
        1.1  Para acesso ao Serviço, o USUÁRIO deverá Preencher corretamente e com dados válidos 
        todas as informações solicitadas no formulário e efetuar o pagamento da fatura, seja por cartão ou boleto,
        podendo ser pago avista(boleto ou cartão de crédito) ou parcelado em até 2X(cartão de crédito).
        2. O USUÁRIO em até 24 horas após confirmação do pagamento dos serviços. Terá a sua disposição
         ( através de seu e-mail particular ) o serviço solicitado via formulário. No caso de MEI o prazo pode
         váriar de acordo com o serviço solicitado.
        2.1 O XACOMIGO se reserva no direito de ultrapassar o prazo de entrega do serviço, em caso de forças maiores
        assim sendo, problemas tecnicos com sites do governo, eventos extraordinários, tais como, 
        e não apenas, desastres naturais, falhas ou colapsos nos sistemas
        centrais de comunicação, na internet, na rede mundial de computadores ou fatos de terceiro,
        que fogem de sua esfera de vigilância e atuação. Tendo como obrigação avisar o usuário do ocorrido e da estimativa
        de conclusão do serviço.
        3. O valor pago ao site XACOMIGO  é referente somente a taxa de serviços de digitação e agendamento.
         Qualquer taxa extra cobrada pelos órgãos públicos será de inteira responsabilidade do Usuário.
        3.1 Cancelamento dos serviços pode ser solicitados a qualquer tempo, DESDE QUE O MESMO AINDA NÃO 
        TENHA SIDO REALIZADO - para isso basta enviar e-mail para contato@xacomigo.net.br solicitando 
        cancelamento/Reembolso(colocar no assunto do E-mail). Para isso, ainda por lei terá o prazo de 
        30 dias apartir do pagamento do serviço, desde que o serviço não tenha sido realizado.
        4. É de responsabilidade do XACOMIGO promover todos os esforços para manter a disponibilidade contínua 
        e permanente para acesso e uso do site, de forma segura e estável, ficando sujeita, no entanto, a eventos
        extraordinários, tais como, e não apenas, desastres naturais, falhas ou colapsos nos sistemas
        centrais de comunicação, na internet, na rede mundial de computadores ou fatos de terceiro,
        que fogem de sua esfera de vigilância e atuação
        4.1 Ainda promover a manutenção constante e ininterrupta do site, dentro dos limites
        técnicos necessários, ressalvadas as hipóteses de caso fortuito e de força maior.

        Atualizado em 15/08/2020
        </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright 2020. Todos Direitos Reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>





    </div>
</body>
</html>