<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Formulário HTML</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!--Plugin jquery das mascaras-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>

    <link rel="icon" type="image / png" Tamanhos="96x96" href="favicon/favicon-96x96.png">

    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00')
            $('#nascimento').mask('00/00/0000')
            $('#telefone').mask('(00) 0 0000-0000')
        })
    </script>

    <script data-ad-client="ca-pub-4337055906490098" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
    <div class="card-footer">
        <div class="col-md-8 mb-5">
            <a href="/certidao" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Voltar para
                Certidões</a>
        </div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-10 ">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/dadoscertidao/salvar" method="post">
                            <h1 class="text-center text-info"> Preencha o formulário abaixo</h1>
                            <h3 class="text-center text-info">Todos campos com <em class="important">*</em> são
                                OBRIGATÓRIOS</h3>

                            <label for="observacao" class="text-center"><span class="important">*Obs.: Caso tenha alguma
                                    restrição a certidão ou antecedentes deve ser requerido diretamente no órgão
                                    responsável</span></label>

                            <!--Seleção das Certidões desejadas pelo cliente-->
                            <br>
                            <div class="field">
                                <label class="text-center text-info"><strong>Marque abaixo todas as certidões e
                                        antecedentes que você deseja emitir:</strong></label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox1" value="Antecedente Criminal Estadual 1º grau">
                                <label class="form-check-label text-info" for="inlineCheckbox1">Antecedente Criminal
                                    Estadual 1º grau</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox2" value="Antecedente Criminal da Polícia Federal">
                                <label class="form-check-label text-info" for="inlineCheckbox2">Antecedente Criminal da
                                    Polícia Federal</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Antecedente Criminal Militar">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Antecedente Criminal
                                    Militar</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox1" value="Antecedentes Federais Estaduais">
                                <label class="form-check-label text-info" for="inlineCheckbox1">Antecedentes Federais
                                    Estaduais</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox2" value="Antecedente Cível Estadual 1º Grau">
                                <label class="form-check-label text-info" for="inlineCheckbox2">Antecedente Cível
                                    Estadual 1º Grau</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Antecedente Criminal Eleitoral">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Antecedente Criminal
                                    Eleitoral</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Certidão de Quitação Eleitoral">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão de Quitação
                                    Eleitoral</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Certidão da Justiça
                                    Federal">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão da Justiça
                                    Federal</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Certidão Negativa de Débitos">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão Negativa de
                                    Débitos</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3"
                                    value="Certidão de Falência, Concordata, Recuperação Judicial e Extrajudicial">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão de Falência,
                                    Concordata, Recuperação
                                    Judicial e Extrajudicial</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Certidão Criminal Estadual 2º Grau">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão Criminal
                                    Estadual 2º Grau</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Certidão Cível Estadual 2º Grau">
                                <label class="form-check-label text-info" for="inlineCheckbox3">Certidão Cível Estadual
                                    2º Grau</label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_certidao[]"
                                    id="inlineCheckbox3" value="Antecedente Criminal da Policia Civil">
                                <label class="form-check-label text-center text-info" for="inlineCheckbox3">Antecedente
                                    Criminal da Policia Civil</label>
                            </div>

                            <!--End Seleção das Certidões desejadas pelo cliente-->

                            <hr>
                            <br>
                            <div class="form-group">
                                <label for="nome" class="text-info">Digite seu nome<em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="nome" id="nome" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="sexo" class="text-info">Sexo<em class="important">*</em>:</label>
                                <INPUT TYPE="RADIO" id="sexo" NAME="sexo" VALUE="masculino"> Masculino
                                <INPUT TYPE="RADIO" id="sexo" NAME="sexo" VALUE="feminino"> Feminino
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="text-info">Digite seu CPF<em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="cpf" id="cpf" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="rg" class="text-info">Digite seu RG:</label><br>
                                <input type="text" name="rg" id="rg" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="pai" class="text-info">Nome do Pai <em class="important">*</em>:</label><br>
                                <input type="text" name="pai" id="pai" class="form-control"
                                    placeholder="Digite Não Consta caso não tenha registro de pai" required>
                            </div>
                            <div class="form-group">
                                <label for="mae" class="text-info">Nome da Mãe <em class="important">*</em>:</label><br>
                                <input type="text" name="mae" id="mae" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="nascimento" class="text-info">Data de Nascimento <em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="nascimento" id="nascimento" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="endereco" class="text-info">Endereço <em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="endereco" id="endereco" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="numero" class="text-info">Número / Complemento <em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="numero" id="numero" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="cidade" class="text-info">Cidade <em class="important">*</em>:</label><br>
                                <input type="text" name="cidade" id="cidade" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="estado" class="text-info">Estado <em class="important">*</em>:</label><br>
                                <input type="text" name="estado" id="estado" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="telefone" class="text-info">Digite seu telefone<em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="telefone" id="telefone" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Digite seu e-mail<em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmaEmail" class="text-info">Confirme seu e-mail<em
                                        class="important">*</em>:</label><br>
                                <input type="text" name="confirmaEmail" id="confirmaEmail" class="form-control"
                                    required>
                            </div>

                            <hr><br>
                            <h4 class="text-center text-info">Clique em enviar para finalizar o seu pedido e ir para
                                página de pagamento</h4>
                            <br>

                            <div class="g-recaptcha" data-sitekey="6LeNf8EZAAAAAAO-dwQuh_hJj0TWn8spe3vEG5eN"></div>

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Enviar">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--API Whatsapp-->
        <script type="text/javascript">
                (function () {
                    var options = {
                        whatsapp: "+55(67)981572635", // WhatsApp number
                        call_to_action: "Fale Conosco!", // Call to action
                        position: "right", // Position may be 'right' or 'left'
                    };
                    var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                    s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                })();
        </script>
        <!--End API Whatsapp-->
        <script src='https://www.google.com/recaptcha/api.js'></script>

</body>

</html>