<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Formulário HTML</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!--Plugin jquery das mascaras-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>

    <link rel="icon" type="image/png" Tamanhos="96x96" href="favicon/favicon-96x96.png">

    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00')
            $('#nascimento').mask('00/00/0000')
            $('#telefone').mask('(00) 0 0000-0000')
        })
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script data-ad-client="ca-pub-4337055906490098" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
    <div class="card-footer">
        <div class="col-md-8 mb-5">
            <a href="/agendamento" style="box-shadow: 0px 2px 4px #007bff;" class="btn btn-primary">Voltar para
                Agendamentos</a>
        </div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-10 ">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/dadosagendamento/salvar" method="post">
                            <h1 class="text-center text-info"> Preencha o formulário abaixo</h1>
                            <h3 class="text-center text-info">Todos campos com <em class="important">*</em> são
                                OBRIGATÓRIOS</h3>
                            <!--inicio checkbox-->
                            <br>
                            <div class="field">
                                <label class="text-center text-info"><strong>Marque o agendamento que
                                        precisa:</strong></label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_agendamento[]"
                                    id="inlineCheckbox1" value="Detran">
                                <label class="form-check-label text-info" for="inlineCheckbox1">DETRAN</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_agendamento[]"
                                    id="inlineCheckbox2" value="Rg 1 Via">
                                <label class="form-check-label text-info" for="inlineCheckbox1">RG 1º VIA</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="tipo_agendamento[]"
                                    id="inlineCheckbox3" value="Rg 2 via">
                                <label class="form-check-label text-info" for="inlineCheckbox2">RG 2ª VIA</label>
                            </div>
                            <!--Fim checkbox-->

                            <div class="form-group">
                                <label for="cidade_agendamento" class="text-info"><span class="important">*</span>
                                    Selecione o município em que deseja solicitar o serviço:</label>
                                <select type="text" class="form-control" id="cidade_agendamento" name="cidade_agendamento">
                                    <option>SELECIONE</option>
                                    <option>AMAMBAI</option>
                                    <option>ANGELICA</option>
                                    <option>APARECIDA DO TABOADO</option>
                                    <option>AQUIDAUANA</option>
                                    <option>BATAGUASSU</option>
                                    <option>BODOQUENA</option>
                                    <option>BONITO</option>
                                    <option>CAARAPÓ</option>
                                    <option>CAMAPUÃ</option>
                                    <option>CAMPO GRANDE</option>
                                    <option>CHAPADÃO DO SUL</option>
                                    <option>CORONEL SAPUCAIA</option>
                                    <option>CORUMBÁ</option>
                                    <option>COSTA RICA</option>
                                    <option>COXIM</option>
                                    <option>DOIS IRMÃOS DO BURITI</option>
                                    <option>DOURADOS</option>
                                    <option>FATIMA DO SUL</option>
                                    <option>ITAPORÃ</option>
                                    <option>IVINHEMA</option>
                                    <option>JARDIM</option>
                                    <option>JUTI</option>
                                    <option>MARACAJU</option>
                                    <option>MUNDO NOVO</option>
                                    <option>NAVIRAÍ</option>
                                    <option>NIOAQUE</option>
                                    <option>NOVA ANDRADINA</option>
                                    <option>PARANAÍBA</option>
                                    <option>PEDRO GOMES</option>
                                    <option>PONTA PORÃ</option>
                                    <option>PORTO MURTINHO</option>
                                    <option>RIO VERDE DE MATO GROSSO</option>
                                    <option>ROCHEDO</option>
                                    <option>SÃO GABRIEL</option>
                                    <option>TACURU</option>
                                    <option>TRÊS LAGOAS</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="nome" class="text-info">
                                    <span class="important">*</span>
                                    Digite seu nome:
                                </label><br>
                                <input type="text" name="nome" id="nome" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="sexo" class="text-info"><span class="important">*</span>
                                    Sexo:</label>
                                <INPUT TYPE="RADIO" id="sexo" NAME="sexo" VALUE="masculino"> Masculino
                                <INPUT TYPE="RADIO" id="sexo" NAME="sexo" VALUE="feminino"> Feminino
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="text-info"><span class="important">*</span>
                                    Digite seu CPF:</label><br>
                                <input type="text" name="cpf" id="cpf" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="rg" class="text-info"><span class="important">*</span>
                                    Digite seu RG:</label><br>
                                <input type="text" name="rg" id="rg" class="form-control"
                                    placeholder="Obs.: Primeira via não precisa">
                            </div>
                            <div class="form-group">
                                <label for="pai" class="text-info">
                                    Nome do Pai:</label><br>
                                <input type="text" name="pai" id="pai" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="mae" class="text-info"><span class="important">*</span>
                                    Nome da Mãe:</label><br>
                                <input type="text" name="mae" id="mae" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="nascimento" class="text-info"><span class="important">*</span>
                                    Data de Nascimento:</label><br>
                                <input type="text" name="nascimento" id="nascimento" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="estado_civil" class="text-info"><span class="important">*</span>
                                    Estado Civil:</label>
                                <select type="text" class="form-control" id="estado_civil" name="estado_civil">
                                    <option>SELECIONE</option>
                                    <option>Solteiro</option>
                                    <option>Casado</option>
                                    <option>Desquitado</option>
                                    <option>Viúvo</option>
                                    <option>Divorciado</option>
                                    <option>Separado</option>
                                    <option>Amasiado</option>
                                    <option>União estável</option>
                                    <option>Outros</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="uf_naturalidade" class="text-info">
                                            <span><em class="important">*</em> UF Naturalidade:</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <select type="text" class="form-control" id="uf_naturalidade"
                                                name="uf_naturalidade">
                                                <option>SELECIONE</option>
                                                <option>ACRE</option>
                                                <option>ALAGOAS</option>
                                                <option>AMAPA</option>
                                                <option>AMAZONAS</option>
                                                <option>BAHIA</option>
                                                <option>CEARA</option>
                                                <option>DISTRITO FEDERAL</option>
                                                <option>ESPÍRITO SANTO</option>
                                                <option>GOIAS</option>
                                                <option>MARANHÃO</option>
                                                <option>MATO GROSSO</option>
                                                <option>MATO GROSSO DO SUL</option>
                                                <option>MINAS GERAIS</option>
                                                <option>PARA</option>
                                                <option>PARAÍBA</option>
                                                <option>PARANA</option>
                                                <option>PERNAMBUCO</option>
                                                <option>PIAUÍ</option>
                                                <option>RIO DE JANEIRO</option>
                                                <option>RIO GRANDE DO NORTE</option>
                                                <option>RIO GRANDE DO SUL</option>
                                                <option>RONDONIA</option>
                                                <option>RORAIMA</option>
                                                <option>SANTA CATARINA</option>
                                                <option>SÃO PAULO</option>
                                                <option>SERGIPE</option>
                                                <option>TOCANTINS</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-8 control-label text-info">
                                            <span class="important">*</span>
                                            Município Naturalidade:
                                        </label>
                                        <div class="col-lg-13">
                                            <input type="text" name="municipio_naturalidade" id="municipio_naturalidade"
                                                class="form-control" required>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="endereco" class="text-info"><span class="important">*</span>
                                    Endereço:</label><br>
                                <input type="text" name="endereco" id="endereco" class="form-control" required>
                                <label for="endereco" class="text-info"><span class="important">*</span>
                                    Obs.: O agendamento será marcado no posto mais próximo do endereço, caso não haja vaga, será marcado no posto mais próximo contendo a vaga solicitada
                            </div>
                            <div class="form-group">
                                <label for="numero" class="text-info"><span class="important">*</span>
                                    Número / Complemento:</label><br>
                                <input type="text" name="numero" id="numero" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="bairro" class="text-info"><span class="important">*</span>
                                    Bairro:</label><br>
                                <input type="text" name="bairro" id="bairro" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="cidade" class="text-info"><span class="important">*</span>
                                    Cidade:</label><br>
                                <input type="text" name="cidade" id="cidade" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="estado" class="text-info"><span class="important">*</span>
                                    Estado:</label><br>
                                <select type="text" class="form-control" id="estado" name="estado">
                                    <option>SELECIONE</option>
                                    <option>ACRE</option>
                                    <option>ALAGOAS</option>
                                    <option>AMAPA</option>
                                    <option>AMAZONAS</option>
                                    <option>BAHIA</option>
                                    <option>CEARA</option>
                                    <option>DISTRITO FEDERAL</option>
                                    <option>ESPÍRITO SANTO</option>
                                    <option>GOIAS</option>
                                    <option>MARANHÃO</option>
                                    <option>MATO GROSSO</option>
                                    <option>MATO GROSSO DO SUL</option>
                                    <option>MINAS GERAIS</option>
                                    <option>PARA</option>
                                    <option>PARAÍBA</option>
                                    <option>PARANA</option>
                                    <option>PERNAMBUCO</option>
                                    <option>PIAUÍ</option>
                                    <option>RIO DE JANEIRO</option>
                                    <option>RIO GRANDE DO NORTE</option>
                                    <option>RIO GRANDE DO SUL</option>
                                    <option>RONDONIA</option>
                                    <option>RORAIMA</option>
                                    <option>SANTA CATARINA</option>
                                    <option>SÃO PAULO</option>
                                    <option>SERGIPE</option>
                                    <option>TOCANTINS</option>
                                </select required>
                            </div>

                            <div class="form-group">
                                <label for="telefone" class="text-info"><span class="important">*</span>
                                    Digite seu telefone:</label><br>
                                <input type="text" name="telefone" id="telefone" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info"><span class="important">*</span>
                                    Digite seu e-mail:</label><br>
                                <input type="text" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmaEmail" class="text-info"><span class="important">*</span>
                                    Confirme seu e-mail:</label><br>
                                <input type="text" name="confirmaEmail" id="confirmaEmail" class="form-control"
                                    required>
                            </div>
                            <div>
                                <label for="periodo" class="text-info">Escolha o horário preferêncial para atendimento:
                                    <em class="important">O período selecionado pode sofrer
                                        alterações por conta das medidas contra o Covid-19 e de acordo com as vagas
                                        disponíveis</em></label>
                                <select name="periodo" id="periodo" class="text-info">
                                    <option value="matutino">Matutino</option>
                                    <option value="vespertino">Vespertino</option>
                                    <option value="independente">Independe</option>
                                </select>
                            </div>

                            <!--Seleção das Certidões desejadas pelo cliente-->
                            <br>

                            <!--End Seleção dos Agendamentos desejados pelo cliente-->
                            <hr><br>
                            <h4 class="text-center text-info">Clique em enviar para finalizar o seu pedido e ir para
                                página de pagamento</h4>
                            <br>

                            <div class="g-recaptcha" data-sitekey="6LeNf8EZAAAAAAO-dwQuh_hJj0TWn8spe3vEG5eN" required>
                            </div>

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Enviar">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--API Whatsapp-->
        <script type="text/javascript">
                (function () {
                    var options = {
                        whatsapp: "+55(67)981572635", // WhatsApp number
                        call_to_action: "Fale Conosco!", // Call to action
                        position: "right", // Position may be 'right' or 'left'
                    };
                    var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                    s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                })();
        </script>
        <!--End API Whatsapp-->


</body>

</html>